body {
    font-family: Arial;
}

header {
    font-size: 2vw;
    margin-right: 6%;
    height: 8%;
    width: 40%;
    float: left;
 }
header img {
    width: 12vw;
    float: left;
}
header a {
    text-decoration: none;
    width: 30%;
    color: darkblue;
}

/*menu*/
nav {
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
nav a {
    text-decoration: none;
    color: darkblue;
    font-size: 3vw;
    margin-left: 4%;
}
#cesta {
    width: 6vw;
}
#sesion {
    width: 4vw;
}

/*              REGISTER                 */

/*Movil*/

@media screen and (min-width: 0px) and (max-width: 760px) {
    .registerasideimg {
        display: none;
    }

    .registeraside {
        width: 0;
        height: 0;
        float: none;
        display: none;
        object-fit: none;
        position: relative;
    }

    .registersection {
        margin-left: 0;
        text-align: center;
    }

    #registerh1section {
        padding-top: 3%;
    }

}

/*Ordinador*/

@media screen and (min-width: 761px) {

    .registeraside {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        object-fit: cover;
        position: absolute;
    }

    .registerasideimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        overflow: hidden;
    }

    .registersection {
        text-align: center;
        margin-left: 50%;
    }

    .registersection {
        text-align: center;
        margin-left: 50%;
    }

    #registerh1section {
        padding-top: 3%;
    }

}
